/**
 * General
 */

.spreadsheet {
  position: relative;
  font-family: helvetica;
  font-weight: 300;
  color: #222;
}

.spreadsheet + .spreadsheet {
  margin-top: 10px;
}

.spreadsheet * {
  box-sizing: border-box;
}

.spreadsheet table {
  width: 100%;
  border-spacing: 0;
  border-left: 0;
  border-collapse: separate;
  table-layout: fixed;

  /* prevent text flicker in safari */
  -webkit-backface-visibility: hidden;
}

.spreadsheet .editable {
  color: #4285F4;
  font-style: italic;
}

.spreadsheet th,
.spreadsheet td {
  padding: 0;
}

/**
 * Input styling
 */

.spreadsheet input {
  border: 0;
  margin: 0;
  height: inherit;
  width: 100%;
  
  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spreadsheet input[disabled] {
  pointer-events: none;
  background: none;
}

.spreadsheet input:focus {
  outline: none;
}

/**
 * Dimensions
 */

.spreadsheet .rowhead {
  width: 32px;
}

.spreadsheet .colhead div,
.spreadsheet .rowhead div,
.spreadsheet td input {
  padding: 6px;
}

/**
 * Cell borders
 */

.spreadsheet td {
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.spreadsheet tr:first-child td {
  border-top: 1px solid #cdcdcd;
}

.spreadsheet td:first-of-type {
  border-left: 1px solid #cdcdcd;
}

.spreadsheet td:last-of-type {
  border-right: 1px solid #cdcdcd;
}

.spreadsheet tr:last-child td {
  border-bottom: 1px solid #cdcdcd;
}

.spreadsheet .colhead th:nth-child(5) div {
  border-left: 1px solid #cdcdcd;
}

.spreadsheet .colhead div {
  border-right: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
}

.spreadsheet tr:first-child .rowhead div {
  border-top: 1px solid #cdcdcd;
}

.spreadsheet .rowhead div {
  border-bottom: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
}

.spreadsheet.row-layers .rowhead div {
  border-right: 1px solid #cdcdcd;
}

/**
 * Outline styling
 */

.spreadsheet .outline {
  border: 2px solid #333;
  pointer-events: none;
  z-index: 1;
  position: absolute;
}

.spreadsheet .outline.editable {
  border-color: #4285F4;
}

/**
 * Hidden cells
 */

.spreadsheet tr.hidden,
.spreadsheet td.hidden,
.spreadsheet th.hidden {
  display: none;
}

.spreadsheet thead tr.layer,
.spreadsheet thead th.layerhead,
.spreadsheet tbody th.layer {
  width: 0;
  height: 0;
}

.spreadsheet thead tr.layer.shown {
  display: table-row;
}

.spreadsheet thead th.layerhead.shown {
  width: 16px;
}

.spreadsheet thead tr.layer.shown {
  height: 16px;
}

.spreadsheet th.layer.active {
  padding: 0 6px;
  cursor: pointer;
}

.spreadsheet th.layer.active:last-of-type {
  padding-left: 0;
  padding-right: 12px;
}

.spreadsheet th.layer.active.dot {
  /*padding: 0 3px;*/
  position: relative;
  border-bottom: 4px solid #4285F4;
}

.spreadsheet th.layer div {
  height: 100%;
  width: 100%;
}

.spreadsheet th.layer.active div {
  background: #4285F4;
}

/**
 * Headings
 */

.spreadsheet .colhead th,
.spreadsheet th.rowhead {
  overflow: hidden;
}

.spreadsheet .colhead div,
.spreadsheet .rowhead div {
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  -webkit-transition: -webkit-transform ease-out .2s;
  -moz-transition: -moz-transform ease-out .2s;
  -ms-transition: -ms-transform ease-out .2s;
  -o-transition: -o-transform ease-out .2s;
  transition: transform ease-out .2s;
}

.spreadsheet .rowhead div {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.spreadsheet .colhead div {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

.spreadsheet.headings .colhead div,
.spreadsheet.headings .rowhead div {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
