.spreadsheet {
  width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  *border-collapse: collapse;
  border-left: 0;
  table-layout: fixed;
  color: #222;
}

.spreadsheet input {
  font: inherit;
  width: 100%;
  height: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  display: block;
}

.spreadsheet input:focus {
  outline: none;
}

.spreadsheet + .spreadsheet {
  margin-top: 10px;
}

.spreadsheet td {
  padding: 0px;
  position: relative;
  line-height: 20px;
  text-align: left;
  border: 1px solid #dddddd;
  content: '';
}

.spreadsheet input {
  padding: 8px;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spreadsheet td.active::after {
  content: '\0';
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #4285F4;
  top: -2px;
  left: -2px;
  pointer-events: none;
}

/* empty cells take up same space */
.spreadsheet td:empty:after {
  content: '.';
  visibility: hidden;
}

